<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find open_manipulator_control)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <xacro:macro name="manipulator_joint_command_by_position" params="name initial_value">
    <joint name="${name}">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_value}</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

  <ros2_control name="open_manipulator" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <xacro:manipulator_joint_command_by_position name="joint1" initial_value="0"/>
    <xacro:manipulator_joint_command_by_position name="joint2" initial_value="0"/>
    <xacro:manipulator_joint_command_by_position name="joint3" initial_value="0"/>
    <xacro:manipulator_joint_command_by_position name="joint4" initial_value="0"/>
    <joint name="gripper">
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    <joint name="gripper_sub">
        <param name="mimic">gripper</param>
        <param name="multiplier">1</param>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
    </joint>
  </ros2_control>

</robot>
